@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	text-transform: uppercase;
	font-family: "Barlow Condensed";
	font-size: 6rem;
	font-weight: 900;
	line-height: 0.85;
	letter-spacing: -0.02rem;
}

h2 {
	font-family: "Barlow Condensed";
	font-size: 4rem;
	font-weight: 900;
	line-height: 0.85;
	letter-spacing: -0.02rem;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


nav {
	position: fixed;
	top: 2rem;
	left: 50%;
	transform: translateX(-50%);
	width: 35%;
	padding: 1rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 0.5rem;
	z-index: 2;	
}

nav img {
	width: 3rem;
}

section {
	position: relative;
	width: 100vw;
	height: 100svh;
	background-color: #161616;
	color: #fff;
	overflow: hidden;
}

.intro .mid-sect .outro {
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro {
	background-image: url('images/cyberpunk-eyes.jpg');
	background-repeat: no-repeat;
	background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  /*border: 1px solid black;*/
  /*width: 100%;
  height: 100%;*/

}

.header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 50%;
	z-index: 1;
}

.mid-sect {
	background-color: white;
	justify-self: center;
	text-align: center;
	color: black;
	
	height: auto;
	/*min-height: 100vh;*/
	overflow: visible;

	padding: 100px 0;
}

.about {
	padding: 0 140px;
	justify-self: center;
	text-align: center;
}

.about p {
	font-size: 20px;
}

.designs-section {
  /*background: white;*/
  min-height: 100vh;
  display: flex;
}

.designs {
	/*display: flex;*/
	/*height: 100vh;*/
	width: 100%;
	justify-self: center;
	padding: 0 0;

	display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  width: 100%;
  min-height: 100vh;

}


.design-img {
  /*width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center;*/

  width: 100%;
 	min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.design-img-1 {
	background-image: url('images/Futuristic-Warrior-Woman.png');
/*	background-size: cover; 
  background-position: center;*/ 
  background-repeat: no-repeat;
  /*border: 1px solid black;*/
  width: 100%;
  height: 100%;
}

.design-img-2 {
	/*background-image: url("images/Futuristic-Woman-Space.png");*/
	background-image: url("images/Woman-with-Sword.png");
	/*background-size: cover; 
  background-position: center; */
  background-repeat: no-repeat; 
  /*border: 1px solid black;*/
  width: 100%;
  height: 100%;
}

.design-img-3 {
	/*background-image: url("images/Futuristic-Armored-Figure.png");*/
	background-image: url("images/Rooftop-Warrior.png");
	background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; /* Prevents the image from repeating */
  /*border: 1px solid black;*/
  width: 100%;
  height: 100%;
}

/*img testing*/

/*.design-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.design-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  background-color: #0e0e0e;
}*/

/**/

.skills-details {
	/*margin: 0 auto;*/
	display: grid;
	color: white;
	width: 100%;
	text-align: center;
	/*height: 100vh;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	padding: 30% 10px;
	gap: 10px;
}

.skills-service-title {
	/*padding: 20% 0;*/
	text-transform: uppercase;
	font-weight: 800;
	font-size: 3rem;
}

.skills-service-details {
	height: 100%;
	/*padding: 20% 0;*/
	justify-content: center;
	align-items: center;
}


.spotlight {
	background-color:#101010;
}


.spotlight-images {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 300svh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transform: translateY(5%);
	will-change: transform;
}

.row {
	width: 100%;
	padding: 2rem;
	display: flex;
	gap: 2rem;
}

.img {
	flex: 1;
	aspect-ratio: 5/7;
	overflow: hidden;
}

.mask-container {
  position: fixed; /* or absolute if inside a pinned section */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-mask: url("images/Vector.svg") center/contain no-repeat;
  mask: url("images/Vector.svg") center/contain no-repeat;
  -webkit-mask-size: 0%;
  mask-size: 0%;
  background-color: black;
  z-index: 10;
}


.mask-container .mask-img {
	width: 100%;
	height: 100%;
}


/*LOADER*/

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0e0e0e;
  color: #f0ead6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity .5s ease-out, visibility .2s ease-out;
}

/* When loader is done */
#loader .hidden {
  opacity: 0;
  visibility: hidden;
}

.loader-content {
  text-align: center;
}

.loader-logo {
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

.loader-logo-dev {
	padding: 50px;
	width: 300px;
  	height: 300px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loader-content p {
  margin-top: 1rem;
  font-family: "Barlow Condensed";
  font-weight: 500;
  font-size: 1.2rem;
}

.footer { 
	background-color: black;
	color: white; 
	height: 100%; 
	width: 100vw; 
	background-image: url("images/gifs/220069.gif"); 
	background-size: cover; 
	background-position: center; 
	background-repeat: no-repeat; 
	overflow: hidden;

	display: flex;
  flex-direction: column;
  /*padding: 4rem;*/
} 

.footer-inner {
	height: 100%;
	width: 100%;
	padding-top: 400px;
}

.footer-details { 
	display: flex; 
	width: 100%; 
	height: 100%; 
	padding: 200px 0; 
	justify-content: space-around; 
	/*align-items: center;*/
} 

.footer-label { 
	font-size: 5rem; 
	text-align: center; 
	align-items: center; 
} 

.logo-img { 
	width: 280px; 
	height: 160px; 
} 

.links { 
	display: flex; 
	justify-content: flex-end; 
	align-items: center; 
	align-content: center;
	gap: 2rem; 
	text-transform: uppercase; 
	font-family: "Barlow Condensed"; 
	font-size: 1.2rem; 
} 

.links a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.links a:hover {
  opacity: 1;
}




/*@media (max-width: 1000px) {
	h1 {
		font-size: 4rem;
	}

	nav, .header {
		width: calc(100% - 4rem);
	}

	.spotlight-images {
		width: 200vw;
		left: -25vw;
	}
}*/

@media (min-width: 1200px) and (max-width: 1400px) {
	.design-img {
  	/*background-position: initial;*/
  	background-position: center center;
	}
}

@media (max-width: 1000px) {

	h1 {
		font-size: 4rem;
	}

	nav, .header {
		width: calc(100% - 4rem);
	}

	.spotlight-images {
		width: 200vw;
		left: -25vw;
	}

	

	.intro {
		background-image: url('images/ilya-kuvshinov-lyd.jpg');
  	background-repeat: no-repeat;
		background-size: cover; 
	  background-position: center; 
	}


  .mid-sect {
    height: auto;
    padding: 0;
  }

  .about {
    padding: 100px 5rem; 
  }

  .skills-details {
  	padding: 50% 0;
  }

  .designs-section {
    height: auto;    
    min-height: auto;
    overflow: visible; 
  }

  .designs {
  	display: grid;
    grid-template-columns: 1fr;
    min-height: auto;  
  }

  .design-img {
    min-height: 100svh;
  }

  .footer {
  	height: 100%;
  	display: grid;
  	flex-direction: none;
  }

  .footer-inner {
  	padding-top: 200px;
  }

  .footer-label {
  	font-size: 2rem;
  }

  .footer-details {
  	width: 100%;
  	height:100%;
  	display: grid;
  	/*justify-content: center;*/
  }

  .links {
  	display: grid;
  	padding: 0;
  	justify-content: center;
  }

}









